<footer>
  <div class="container-flex1 bg-dark text-light bottom" id="faq">
    <div class="container">
    	<h2>FAQ</h2>
    	<dl>
        <div class="col">
          <dl class="row">
            <dt class="col-sm-4">Email</dt>
              <dd class="col-sm-8">bruno.czuviria@upm.es</dd>
            <dt class="col-sm-4">Twitter</dt>
              <dd class="col-sm-8">@BrZuviria</dd>
            <dt class="col-sm-4">Group Web Page</dt>
              <dd class="col-sm-8">
                <a href="http://www.cbgp.upm.es/index.php/es/informacion-cientifica/biotecnologia-y-bioinformatica-bb/allergenicity">
                  CBGP - Molecular basis of allergenicity</a>
              </dd>
          </dl>
          <p>Bruno Cuevas 2018</p>
        </div>
      </dl>
    </div>
  </div>
</footer>
