
#faq {
  //background: #0b3142;
  //color: white;
  padding: 2rem;
  //bottom: 0;
  //position: fixed;
  //width: 100%;
}


#navbar {
  padding: 0.5rem;
  margin-bottom: 3rem;
  font-size: 25px;
}

#papers ul {
	display: block;
	margin-left: 20px;
	list-style: none;
	font-size: 20px;
}
#me {
  margin-bottom : 2rem;
}
#res {
  margin-bottom: 2rem;
}
#papers{
  margin-bottom: 2rem;
}

// .container {
// 	max-width: 1000px;
// 	margin: auto;
// }

// .post_container {
//   max-width: 1000px;
// 	margin: auto;
//   color: gray;
// }
//
// .top_menu ul {
// 	overflow: hidden;
// 	list-style: none;
// 	background: #6e7f80;
// 	margin: 0px;
// 	padding: 0px;
//
// }
// .top_menu ul li {
// 	float: left;
// 	background: #6e7f80;
// }
// .top_menu ul li a {
// 	text-decoration: none;
// 	color: #ffffff;
// 	display: block;
// 	text-align: center;
// 	padding: 14px 16px;
// 	text-decoration: none;
// }
// .top_menu ul li a:hover {
// 	background-color: #536872;
//
// }
//
//
//
// .row  {
//     content: "";
//     display: flex;
// }
// .column1 {
// 	width: 60%;
// }
// .column2 {
// 	width: 40%;
// 	padding-left: 50px;
// }
// .About {
//
// 	margin-left: 15px;
// 	margin-top: 25px;
// 	color: gray;
// 	display: flex;
// 	flex-wrap: wrap;
// 	text-align: justify;
//
// }
//
// .Research {
// 	background:  	#6e7f80;
// 	color: #ffffff;
// 	padding: 10px;
// 	text-align: justify;
// }
// .Research ul {
// 	display: block;
// 	list-style: none;
// 	font-size: 15px;
// }
// .Research ul li {
// 	padding: 10px;
// }
// .Research ul li:hover {
// 	background-color: #536872;
// }
// .Papers {
// 	background: #ffffff;
// 	color: #000000;
// 	padding: 10px;
// }


// .Papers ul li {
// 	padding: 15px;
// }
// .Papers ul li a {
// 	text-decoration: none;
// 	color: #000000;
// 	display: flex;
// 	padding: 15px;
// }
// .Papers ul li a:hover {
// 	background-color: #536872;
//   color: white;
// }
//
// .FAQ {
// 	background: #36454f;
// 	padding: 10px;
// 	text-align: justify;
// 	color: gray;
// }
// .FAQ dl {
// 	display: grid;
// 	grid-template-columns: max-content-auto;
// }
// .FAQ dt {
// 	grid-column-start: 1;
// }
// .FAQ dd {
// 	grid-column-start: 2;
// 	color: #ffffff
// }
// .FAQ a {
// 	text-decoration: none;
// 	color: inherit;
// }
// .FAQ a:hover {
// 	color: gray;
// }
